
## Import necessary packages
import(CAGEfightR)
import(GRanges)
import(SummarizedExperiment)

## Import necessary functions
importFrom(assertthat, assert_that)
importFrom(assertthat, not_empty)
importFrom(DAPAR, nonzero)
importFrom(methods, as)
importFrom(methods, is)
importFrom(bcp, bcp)
importFrom(caTools, runmax)
importFrom(igraph, graph_from_edgelist)
importFrom(igraph, components)



## Export functions

# Complexity functions
export("calcComplexity")
export("calcCTSSComplexity")
export("calcGeneComplexity")
export("calcDivergentLociComplexity")

# Correlation functions
export("corrProfiles")

## Cumulative genomic distributions
export("cumulativeFractionAroundLoci")

## Decomposition functions
export("decomposeCorr")
export("decompose")
export("summit_decompose")
export("local_maxima_decompose")
export("decompose_corr")

## Divergent loci functions
export("divergentLoci")
export("quantifyDivergentLoci")
export("quantifyClustersOlap")

## Heatmap data functions
export("heatmapData")


